<table class="ui fixed table">
    <thead>
    <tr>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    #{list items:_member.assessments, as:'assessment'}
    <tr>
        <td>
        ${assessment.weight}
        </td>
        <td>
        ${assessment.chest}
        </td>
        <td>
        ${assessment.thigh}
        </td>
        <td>
        ${assessment.upperArm}
        </td>
        <td>
        ${assessment.waist}
        </td>
        <td>
        ${assessment.hips}
        </td>
        <td>
        *{takes the member id and assessment id and passes to them to the delete assessment method via the route}*
            <a href="/dashboard/${_member.id}/deleteassessment/${assessment.id}" class = "ui icon button"><i class="trash icon"></i></a>
        </td>
    #{/list}
    </tbody>
</table>