<table class="ui fixed table">
    <thead>
    <tr>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Comment</th>
        <th>Weight Progress</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    #{list items:_member.assessments, as:'assessment'}
    <tr>
        <td>
        ${assessment.weight}
        </td>
        <td>
        ${assessment.chest}
        </td>
        <td>
        ${assessment.thigh}
        </td>
        <td>
        ${assessment.upperArm}
        </td>
        <td>
        ${assessment.waist}
        </td>
        <td>
        ${assessment.hips}
        </td>
        <td>
        ${assessment.comment}
        </td>
        <td>
        *{uses a method from the member model to determine if weight progress is made in  a specific assessment}*
            #{if _member.madeProgress(assessment)}
                <i class="green thumbs up outline icon"></i>
            #{/if}
            #{if !_member.madeProgress(assessment)}
                <i class="red thumbs down outline icon"></i>
            #{/if}
        </td>
        <td>
        *{takes the member id and assessment id and passes to them to the delete assessment method via the route}*
            <a href="/dashboard/${_member.id}/deleteassessment/${assessment.id}" class = "ui icon button"><i class="trash icon"></i></a>
        </td>
    #{/list}
    </tbody>
</table>